/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 7, 2024, 12:36:31 PM
    Author     : nmalicki
*/

#accountForm{
    width: 65%;
    margin-left:20%;

    padding: 15px;
    padding-top:5%;
}

#signOutForm{
    width:65%;
    margin-left:21%;
}