/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 25, 2024, 10:38:41 AM
    Author     : nmalicki
*/

.cartH1{
    text-align: left;
    padding-left: 5%;
}
.cartDiv{
    border-radius:3rem;
    background-color: var(--background);
    margin: 10px;
    
    padding: 5px;
    padding_left:15px;
}
#split{
    display: flex;
    margin-left: 12%;
    height: 65%;
}

#cartList{
    padding-left:5%;
}

#cart{
    width:55%;
    overflow-y: scroll;
}
#totals{
    width: 35%;
    position: relative;
}
#locationInfo{
    margin-left: 13%;
    width: 82%;
}

.cartSubDiv{
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    border-bottom: 2px solid black; 
}

.smallInput{
    width: 10%;
    border: 1px solid black ;
    background-color: var(--main);
    margin-top:2%;
}

.totalInfo{
    margin-right:5%; 
    text-align: right;
}

#orderButton{
    width: 20%;
    height: 7%; 
    background-color: var(--accent);
    margin-top: 1%;
    margin-left: 2%;
    font-size: 2rem;
}

#paymentDiv{
    position: absolute;
    bottom: 3%;
    left: 10%; 
}

#payInput{
    background-color: var(--main);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1.orderConfim{
    text-align: center;
}

.postOrderDiv{
    text-align: center;
    padding: 1%;
    width: 20%;
    margin: 2% 4%;
    margin-top: 0%;
    margin-left:45%;
    border: 2px solid black; 
    border-radius: 10rem;
}