/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 25, 2024, 11:42:17 AM
    Author     : nmalicki
*/
.mountingDiv{
    display: inline;
}

div.mapDiv{
    width: 90%;
    height: 55%;
    margin: 5%;
    margin-bottom: 0;
    border: 0;
    background-color: var(--selected);
    background-image: url("MapFallback.png");
    background-size: 275px;
}

.aLocationDiv{
    height: 40%;
    width: 24%;
    
    margin-left: 5%;
    margin-bottom: 5%;
    padding-top: 1%;
    display: inline flex;
    flex-wrap: wrap;
    
    background-color: var(--background);
    border-radius: 1vw;
    
}

p.aLocation{
    width: 100%;
    height: 2%;
    margin: 0;
    margin-left: 5%;
    display: inline;
}

button.aLocation{
    width: 70%;
    margin-left: 15%;
    margin-top: 1%;
    background-color: var(--accent);
}