/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 25, 2024, 11:42:17 AM
    Author     : nmalicki
*/
.mountingDiv{
    display: inline;
}

iFrame .map{
    width: 30%;
    height: 60%;
    margin: 5%;
    border: 0;
    background-color: black;
}

div .aLocation{
    margin-left: 5%;
    margin-bottom: 5%;
    height: 30%;
    width: 24%;
    padding-top: 1%;
    background-color: var(--background);
    display: inline flex;
}

p .aLocation{
    width: 100%;
    margin: 5%
}